@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*--background: #ffffff;*/
  /*--foreground: #171717;*/
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  color: var(--foreground);*/
/*  background: var(--background);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fancybox__slide.has-caption {
  flex-direction: row !important;
}

.fancybox__caption {
  max-width: 250px !important;
  padding: 1rem 3rem 1rem 1rem !important;
}

.fancybox__backdrop {
  background: #21252d !important;
}
