@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --almost-white: #e1e1e1;
  --almost-black: #101010;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fancybox__slide {
  padding: 0.5rem 0 !important;
}

.fancybox__caption {
  text-align: center;
  text-wrap: wrap;
}

.fancybox__backdrop {
  background: var(--almost-white) !important;
}

body.dark .fancybox__backdrop {
  background: var(--almost-black) !important;
}

.fancybox__toolbar__column.is-right {
  align-items: center !important;
}

.fancybox__footer {
  background: transparent !important;
}

body.image-has-border .fancybox-image {
  border: 1rem solid #eeeeee !important;
  width: auto !important;
  height: auto !important;
}
.thumbnail {
  border: 0 !important;
}

body.image-has-border .thumbnail {
  border: 0.25rem solid #eeeeee !important;
}

@media (min-width: 1024px) {
  body.image-has-border .fancybox-image {
    border: 2rem solid #eeeeee !important;
    width: auto !important;
    height: auto !important;
  }
  .thumbnail {
    border: 0 !important;
  }

  body.image-has-border .thumbnail {
    border: 0.75rem solid #eeeeee !important;
  }
}

.f-button {
  background: var(--almost-white) !important;
}

body.dark .f-button {
  background: var(--almost-black) !important;
}

body.dark .fancybox__footer {
  background: rgba(0, 0, 0, 0) !important;
}

.f-button,
.fancybox__caption {
  color: var(--almost-black) !important;
}

body.dark .f-button,
body.dark .fancybox__caption {
  color: var(--almost-white) !important;
}

.is-next,
.is-prev {
  background: rgba(0, 0, 0, 0) !important;
  color: var(--almost-white) !important;
}

body.dark .is-next,
body.dark .is-prev {
  background: rgba(0, 0, 0, 0) !important;
  color: var(--almost-white) !important;
}

.info-button {
  border-radius: 0 0 0 3px !important;
  font-size: 0.75rem !important;
  height: 100% !important;
}

.info-button-text {
  border: 2px solid rgba(0, 0, 0, 0.6) !important;
}

.modal-close-btn,
.filter-icon {
  fill: var(--almost-black) !important;
}

body.dark .modal-close-btn,
body.dark .filter-icon {
  fill: var(--almost-white) !important;
}

.fullscreen-style {
  width: 2rem !important;
}

.clear-search-icon,
.help-icon {
  fill: var(--almost-black) !important;
}

body.dark .clear-search-icon,
body.dark .help-icon {
  fill: var(--almost-white) !important;
}

::placeholder {
  color: black !important;
  opacity: 0.5 !important;
}

body.dark ::placeholder {
  color: white !important;
  opacity: 0.5 !important;
}
