@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --almost-white: #e1e1e1;
  --almost-black: #101010;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fancybox__slide {
  padding: 0.5rem 0 0 0 !important;
}

.fancybox__caption {
  min-width: 400px;
  text-align: center;
}

.fancybox__backdrop {
  background: var(--almost-white) !important;
}

body.dark .fancybox__backdrop {
  background: var(--almost-black) !important;
}

.fancybox__toolbar__column.is-right {
  align-items: center !important;
}

.fancybox__footer,
.f-button {
  background: transparent !important;
}

body.dark .fancybox__footer,
body.dark .f-button {
  background: rgba(0, 0, 0, 0) !important;
}

.f-button,
.fancybox__caption {
  color: var(--almost-black) !important;
}

body.dark .f-button,
body.dark .fancybox__caption {
  color: var(--almost-white) !important;
}

.is-next {
  background: rgba(0, 0, 0, 0);
}

.info-button {
  border-radius: 3px !important;
  border: 2px solid rgba(0, 0, 0, 0.6) !important;
  width: 5rem !important;
  padding: 0.25rem !important;
  font-size: 0.75rem !important;
  height: fit-content !important;
}

body.dark .info-button {
  border: 2px solid rgba(255, 255, 255, 0.8) !important;
}

.modal-close-btn {
  fill: var(--almost-black) !important;
}

body.dark .modal-close-btn {
  fill: var(--almost-white) !important;
}
